<p class="copy">
    <a rel="license" href="http://creativecommons.org/licenses/by/4.0/" target="_blank">
        <img alt="Creative Commons License" src="https://i.creativecommons.org/l/by/4.0/88x31.png">
    </a>
    <span></span>
    <strong>
        <a href="{{ path('_page', {'slug':'tos'}) }}" {% if app.request.attributes.get('slug') == 'tos' %}class="active"{% endif %}>{% trans %}Terms{% endtrans %}</a> &amp;
        <a href="{{ path('_page', {'slug':'tos'}) }}#privacy" {% if app.request.attributes.get('slug') == 'tos' %}class="active"{% endif %}>{% trans %}Privacy{% endtrans %}</a>
        <span> | </span>
        <a href="https://github.com/vlahonick/pharmaquiz" target="_blank">GitHub</a>
        <span> | </span>
        Powered by <a href="http://netit-solutions.com/" target="_blank" class="credits">Netit Solutions</a> &amp; <a href="http://rootatwc.com/" target="_blank" class="credits">root@WC</a>
    </strong>
</p>