<div id="show">
  <a href="#show" id="open">{% trans %}Help{% endtrans %}</a>
  <div class="hidden">
    <a href="#hide" id="close" >{% trans %}Close help{% endtrans %}</a>
    <ul>
      <li><strong>{% trans %}How many correct answers a question has?{% endtrans %}</strong><br />
      {% trans %}A question can have at least 1 correct answer to a maximum of 4.{% endtrans %}
      </li>
      <li><strong>{% trans %}How do I see my score and my wrong answers?{% endtrans %}</strong><br />
      {% trans %}Your score will be displayed after you answer all questions.{% endtrans %}
      </li>
    </ul>
  </div>
</div>