<h2>{% trans %}Statistics{% endtrans %}</h2>
<div class="stats">
  <p>{% trans %}Currently PharmaQuiz{% endtrans %}:</p>
  <ul>
    <li>has 500 questions (per language)</li>
    <li>in 11 different topics</li>
    <li>in 3 different languages</li>
  </ul>
</div>