<div class="stats">
  <p>{% trans %}PharmaQuiz Statistics{% endtrans %}:</p>
  <ul>
    <li><i class="fa fa-file-text"></i> {% trans %}500 questions (per language){% endtrans %}</li>
    <li><i class="fa fa-book"></i> {% trans %}among 11 different topics{% endtrans %}</li>
    <li><i class="fa fa-globe"></i> {% trans %}in 3 different languages{% endtrans %}</li>
  </ul>
</div>