<h2>{% trans %}Statistics{% endtrans %}</h2>
<div class="stats">
  <p>{% trans %}Currently PharmaQuiz contains{% endtrans %}:</p>
  <ul>
    <li>{% trans %}500 questions (per language){% endtrans %}</li>
    <li>{% trans %}among 11 different topics{% endtrans %}</li>
    <li>{% trans %}in 3 different languages{% endtrans %}</li>
  </ul>
</div>