{% extends '::base.html.twig' %}
{% form_theme form 'PharmaQuizCoreBundle:Form:field_errors.html.twig' %}

{% block main %}

    {{ form(form) }}

    <div class="border-dotted"></div>
    <span style="font-style: italic; font-size: 12px;">
      {% trans %}
      Fields with <strong>*</strong> are mandatory.
      {% endtrans %}
    </span>
{% endblock %}
