{% extends '::base.html.twig' %}
{% form_theme form 'PharmaQuizCoreBundle:Form:field_errors.html.twig' %}

{% block main %}
    <div class="dots"><span><img src="{{ asset('/bundles/pharmaquizcore/images/email.png') }}" alt="" class="dotsimg" /></span></div>
    {{ form(form) }}

    <div class="border-dotted"></div>
    <span style="font-style: italic; font-size: 12px;">
      {% trans %}
      Fields with <strong>*</strong> are mandatory.
      {% endtrans %}
    </span>
{% endblock %}
